{% if images|length %}
<ul class="ace-thumbnails">
    {% for image in images %}
    <li>
        <a href="{{ asset('upload/news/'~image.fileName) }}" data-rel="colorbox">
            <img alt="150x150" width="100" height="100" src="{{ asset('upload/news/'~image.fileName) }}" />
        </a>
        <div class="tools tools-top">
            <a href="#" class="gallery-add-image">
                <i class="icon-link"></i>
            </a>
            <a href="#" class="gallery-remove-image" img-id="{{ image.id }}">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

